<div class='container'>
  <div class='row'>
  </div>
  <div class='row'>
    <div class="col-lg-4">
      <h2>User info</h2>
        <%= attachment_image_tag current_user, :profile_image, format: 'jpeg', size: "100x100" %>
      <div>
        <p>name</p>
        <p><%= current_user.name %></p>
      </div>
      <div>
        <p>introduction</p>
        <%= current_user.introduction %>
      </div>
      <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
      <!-- NEW BOOK -->
      <h2>New book</h2>
      <%= form_for(@book) do |f| %>
        <p>title</p>
        <%= f.text_field :title %>
        <p>opinion</p>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book' %>
      <% end %>
      <!-- ここまで -->
    </div>
    <div class="col-lg-8">
      <h2>Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', size: "100x100" %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", "users/#{user.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>