<div class='container'>
  <div class="row">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  </div>
  <div class='row'>
  </div>
  <div class='row'>
    <%= render 'books/user', user: @user, book: @book %>
    <div class="col-xs-9">
      <h2>Books</h2>
      <div class="row">
        <div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4">Title</div>
          <div class="col-lg-4">Opinion</div>
        </div>
      </div>
      <div class="row">
        <% @books.each do |book| %>
          <div class="row">
            <div class="mybook">
              <div class="col-lg-4"><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg",size:'40x40' %></div>
              <div class="col-lg-4"><%= link_to book.title, "/books/#{book.id}" %></div>
              <div class="col-lg-4"><%= book.body %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <p class="text-right">CopyRight Infratop.inc</p>
</div>