<div class="col-xs-3">
  <div class='row'>
    <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
  </div>
  <div class='row'>
    <div class='name'>
      <div class='col-lg-5'>name</div>
      <div class='col-lg-7'><%= user.name %></div>
    </div>
  </div>
  <div class='row'>
    <div class='introduction'>
      <div class="col-xs-5">
        <p>introduction</p>
      </div>
      <div class="col-xs-7" style="padding-bottom: 15px;">
        <p><%= current_user.introduction %></p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="follows">
      <div class="col-xs-5">
        <p>follows</p>
      </div>
      <div class="col-xs-7" style="padding-bottom: 15px;">
        <p><%= link_to @user.followings.count, follows_user_path(user) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="followers">
      <div class="col-xs-5">
        <p>followers</p>
      </div>
      <div class="col-xs-7" style="padding-bottom: 15px;">
        <p><%= link_to @user.followers.count, followers_user_path(user) %></p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div>follow</div>
  </div>
  <%= link_to edit_user_path(user.id), class: "btn btn-default" do%>
      <i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
  <% end %>
  <!-- NEW BOOK -->
  <h2>New book</h2>
  <%= form_for(book) do |f| %>
  <div class="row" style="width: 300px;">
    <h5>Title</h5>
    <%= f.text_field :title, class: "text" %>
    <h5>Opinion</h5>
    <%= f.text_area :body, class: "text" %>
  </div>
  <div class="row" style="width: 300px;">
    <%= f.submit 'Create Book', class: "btn btn-primary" %>
  </div>
  <% end %>
  <!-- ここまで -->
</div>