<div class="row">
	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>
</div>
<div class="row">
	<div class="col-lg-4">
      <h2>User info</h2>
      <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      <div>
        <p>name</p>
        <p><%= @users.name %></p>
      </div>
      <div>
        <p>introduction</p>
        <p><%= @users.introduction %></p>
      </div>
      <% if @users.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@users) %></p>
      <% end %>
      <!-- NEW BOOK -->
      <h2>New book</h2>
      <%= form_for(@book) do |f| %>
        <p>title</p>
        <%= f.text_field :title %>
        <p>opinion</p>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book' %>
      <% end %>
      <!-- ここまで -->
    </div>
    <div class="col-lg-8">
    	<% if @book.user_id == current_user.id %>
	    	<tr>
	    		<td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
	    		<td><%= @book.title %></td>
	    		<td><%= @book.body %></td>
	    		<td><%= link_to "Edit", edit_book_path(@book) %></td>
	    		<td><%= link_to "Destroy", "/books/#{@book.id}", method: :delete %></td>
	    	</tr>
	    <% else %>
	    	<tr>
	    		<td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
	    		<td><%= @book.title %></td>
	    		<td><%= @book.body %></td>
	    	</tr>
	    <% end %>
    </div>
</div>